@charset "UTF-8";



body{
    border: black solid 1px;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    box-shadow: black 5px 5px 10px;



}

#resposta{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    background-color: rgba(95, 158, 160, 0.418);
    border-radius: 10px;
}