@charset "UTF-8";

body{
    background-color: rgb(92, 156, 230);
    font: normal 15pt Arial;

}

header{
    color: white;
    text-align: center;
}

header>h1{

text-shadow: black 2px 2px 10px;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.445) 5px 5px 10px;


}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: black 2px 2px 5px;


}



@-webkit-keyframes tilt-in-top-2 {
    0% {
      -webkit-transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
              transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-2 {
    0% {
      transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  
