table{
    border: 2px solid rgb(21, 19, 160); 
    border-collapse:collapse;
}

td{
    width: 400px;
    height: 100px;
    padding: 20px;
    border:1px solid black;

    text-align: center;
    vertical-align: top;
}